.header {
	height: 950px;
	background-size: cover;
}
.header a {
	font-size: 20pt;
	color: #fff;
	margin: 60px 0 0 60px;
	display: block;
	font-family: 'Bad Script', cursive;
}
.header a:hover {
	text-decoration: none;
}
.header h1 {
	font-size: 32pt;
	color: #fff;
	text-align: center;
	margin-top: 250px;
	text-transform: lowercase;
	font-family: 'Julius Sans One', sans-serif;
}
@media screen and (max-width:760px) {
	.header {
		height:	300px;
	}
	.header a {
		display: none;
	}
}



.main-menu {
	width: 100%;
	background-color: #180719;
	font-size: 16pt;
	text-align: center;
}
.main-menu li {
	height: 100px;
	display: inline-block;
	transition: 0.55s;
}
.main-menu li a {
	line-height: 100px;
	color: #fff;
	display: block;
	padding: 0 75px;
	font-family: 'Julius Sans One', sans-serif;
	
}
.main-menu li a:hover {
	text-decoration: none;
}
.main-menu li:hover {
	background-color: #3E1242;
}
.main-menu li:hover a {
	color: #fff;
}
.toggle-menu {
	display: none;
	line-height: 100px;
	background-color: #F1C40F;
	text-align: right;
	padding-right: 50px;
}
.hamburger {
	line-height: 100px;
	background-color: #F1C40F;
	font-size: 32pt;
	text-align: right;
	padding-right: 40px;
	cursor: pointer;
	display: none;
}
@media screen and (max-width:760px){
	.main-menu {
		padding: 0;
		display: none;
	}
	.main-menu {
		padding: 0;
		text-align: center;
	}
	.hamburger {
		display: block;
	}
}
@media screen and (min-width:761px) {
	.main-menu {
		display: block!important;
	}
}



.gallery  img {
	width: 100%;
}
.gallery div {
	padding: 0;
}
.overlay {
	position: absolute;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: .5s ease;
	background-color: #000;
}
.image-container:hover .overlay {
	opacity: 0.7;
}
.image-container:hover img {
	filter: blur(1px);
}
.overlay p {
	position:absolute;
    text-align: center;
	color: #fff;
	font-size: 20pt;
	top: 50%;
	left: 0;
    transform: translate (-50%, -50%);
	width: 100%;
}
.overlay a {
	color: #FFFFA8;
	text-decoration: none;
	font-family: 'Julius Sans One', sans-serif;
	padding: 150px;
}


.contact-form {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 150px;
	padding-right: 150px;
	margin-top: 20px;
	background-color: #000;
}
.contact-form h1 {
	font-size: 23pt;
	margin-bottom: 20px;
	color: #fff;
	font-family: 'Julius Sans One', sans-serif;
}
.form-control {
	height: 45px;
	border-radius: 1;
	border: 1px solid #fff;
}
.form-control::placeholder {
	color: #000;
}	
.btn {
	transition: 0.5s;
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 0;
	font-size: 15px;
	font-family: 'Julius Sans One', sans-serif;
}
.btn:hover {
	padding: 15px 20px;
	background-color: #000;
	color: #fff;
	border-radius: 0;
}
.btn-default {
	border: 0;
}



body  {
	background: url('img/debut_dark.png.png');
}
